docs/n8n/workflow-pseudo-json.json
{
  "name": "CyberAlerta Guardian WhatsApp Demo - Pseudo Workflow",
  "description": "Esqueleto conceitual de workflow n8n. E JSON valido, mas pode exigir ajuste manual antes de importar dependendo da versao do n8n.",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "dryRun": true
  },
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger - WhatsApp Demo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "cyberalerta-whatsapp-demo",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "set-normalized-fields",
      "name": "Set - Normalizar Payload CyberAlerta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [240, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "message_id",
              "type": "string",
              "value": "={{$json.message_id || $json.id || $execution.id}}"
            },
            {
              "name": "from",
              "type": "string",
              "value": "={{$json.from || 'masked-demo-contact'}}"
            },
            {
              "name": "to",
              "type": "string",
              "value": "={{$json.to || 'cyberalerta-demo'}}"
            },
            {
              "name": "body",
              "type": "string",
              "value": "={{$json.body || $json.message || $json.text}}"
            },
            {
              "name": "channel",
              "type": "string",
              "value": "whatsapp"
            },
            {
              "name": "user_name",
              "type": "string",
              "value": "={{$json.profile_name || 'Pessoa protegida'}}"
            },
            {
              "name": "trusted_contact_name",
              "type": "string",
              "value": "Contato de confianca"
            },
            {
              "name": "trusted_contact_relation",
              "type": "string",
              "value": "contato de confianca"
            },
            {
              "name": "already_acted",
              "type": "boolean",
              "value": false
            }
          ]
        }
      }
    },
    {
      "id": "http-cyberalerta-inbound",
      "name": "HTTP - Decisao Inbound CyberAlerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.CYBERALERTA_API_URL}}/integrations/n8n/whatsapp/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-CyberAlerta-Secret",
              "value": "={{$env.CYBERALERTA_N8N_SECRET}}"
            },
            {
              "name": "X-N8N-Execution-ID",
              "value": "={{$execution.id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "switch-action",
      "name": "Switch - n8n_action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [780, 0],
      "parameters": {
        "value1": "={{$json.n8n_action}}",
        "rules": [
          {
            "operation": "equal",
            "value2": "allow_with_warning",
            "output": 0
          },
          {
            "operation": "equal",
            "value2": "ask_for_confirmation",
            "output": 1
          },
          {
            "operation": "equal",
            "value2": "activate_trust_lock",
            "output": 2
          },
          {
            "operation": "equal",
            "value2": "alert_trusted_contact",
            "output": 3
          },
          {
            "operation": "equal",
            "value2": "start_recovery",
            "output": 4
          }
        ]
      }
    },
    {
      "id": "send-user",
      "name": "Send User Message - Demo NoOp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1040, -160],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "send_user_message",
              "type": "string",
              "value": "={{$json.user_message}}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{$json.dry_run}}"
            }
          ]
        }
      }
    },
    {
      "id": "send-trusted-contact",
      "name": "Send Trusted Contact - Demo NoOp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1040, 40],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "trusted_contact_should_alert",
              "type": "boolean",
              "value": "={{$json.trusted_contact_should_alert}}"
            },
            {
              "name": "trusted_contact_message",
              "type": "string",
              "value": "={{$json.trusted_contact_message}}"
            }
          ]
        }
      }
    },
    {
      "id": "http-recovery",
      "name": "HTTP - Recovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 240],
      "parameters": {
        "method": "POST",
        "url": "={{$env.CYBERALERTA_API_URL}}/recovery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Execution-ID",
              "value": "={{$execution.id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"incident_type\":\"unknown\",\"case_id\":\"{{$json.case_id}}\",\"n8n_execution_id\":\"{{$execution.id}}\",\"source\":\"n8n\"}"
      }
    },
    {
      "id": "log-safe",
      "name": "Log Campos Seguros - Demo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1300, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "request_id",
              "type": "string",
              "value": "={{$json.request_id}}"
            },
            {
              "name": "n8n_execution_id",
              "type": "string",
              "value": "={{$json.n8n_execution_id}}"
            },
            {
              "name": "case_id",
              "type": "string",
              "value": "={{$json.case_id}}"
            },
            {
              "name": "n8n_action",
              "type": "string",
              "value": "={{$json.n8n_action}}"
            },
            {
              "name": "risk_level",
              "type": "string",
              "value": "={{$json.risk_level}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger - WhatsApp Demo": {
      "main": [
        [
          {
            "node": "Set - Normalizar Payload CyberAlerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalizar Payload CyberAlerta": {
      "main": [
        [
          {
            "node": "HTTP - Decisao Inbound CyberAlerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Decisao Inbound CyberAlerta": {
      "main": [
        [
          {
            "node": "Switch - n8n_action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - n8n_action": {
      "main": [
        [
          {
            "node": "Send User Message - Demo NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send User Message - Demo NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send User Message - Demo NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send User Message - Demo NoOp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Trusted Contact - Demo NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send User Message - Demo NoOp": {
      "main": [
        [
          {
            "node": "Log Campos Seguros - Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Trusted Contact - Demo NoOp": {
      "main": [
        [
          {
            "node": "Log Campos Seguros - Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Recovery": {
      "main": [
        [
          {
            "node": "Log Campos Seguros - Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "notes": [
    "Este arquivo intencionalmente nao contem credenciais reais.",
    "Nao assuma que este pseudo-json importa sem ajustes em toda versao do n8n.",
    "Use Webhook Trigger para testes sem WhatsApp real.",
    "Troque nodes demo NoOp por nodes reais de envio somente em ambientes controlados."
  ]
}
